node_modules/*
log/*
*.log
.idea
pdf_docs/*
uploads100/*
notes_db.js
.DS_Store
*/.DS_Store

json_to_pdf/*.json
json_to_pdf/markdown/*
json_to_pdf/pdf/*
json_to_pdf/html/*

import_files/*
import_functions/*